.jf-dialog-wrap{
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  @include c3(transform, translate3d(0,-50%,0))
  z-index: 12;
  background: #fff;
  margin: 0 1.2667rem;
  color: #484848;
  text-align: center;
  @include font-dpr(34);
  border-radius: .2667rem;
  box-shadow: 0 6px 18px 0 rgba(0,0,0,0.10);
  // overflow: hidden;
}
.jf-dialog-header{
  padding: .5333rem 0 .2667rem 0;
  @include font-dpr(36);
  font-weight: bold;
  font-family: PingFangSC-Medium;

}
.jf-dialog-content{
  font-family: PingFangSC-Regular;
  padding: 0 0.74rem .5333rem 0.74rem;
  @include font-dpr(28);
  color: #333 !important;
  border-bottom: 1px solid #EBEBEB;
  text-align: center;
  line-height: .6133rem;
}
.jf-btn-cancel, .jf-btn-active{
  height: 1.3333rem;
  line-height: 1.3333rem;
  @include font-dpr(32);
  background: #fff;
}
.jf-btn-cancel{
  color: #333333;
  font-family: PingFangSC-Regular;
  border-right: 1px solid #EBEBEB;
  border-bottom-left-radius: .2667rem;
}
.jf-btn-active{
  color: #FE664F;
  border-bottom-right-radius: .2667rem;
}
.jf-dialog-close{
  position: absolute;
  width: 100%;
  bottom: -1.4rem;
  justify-content: center;
  i {
    color: #fff;
    @include font-dpr(60);
  }
}
.jf-dialog-footer{
  border-bottom-left-radius: .2667rem;
  border-bottom-right-radius: .2667rem;
  overflow: hidden;
}
